.maindiv {
    height: 500px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(72, 11, 226);
    border-radius: 20px;
  }

  #input {
    height: 20px;
    width: 200px;
    border: 2px solid black;
  }

  #seconddiv {
    margin-top: 100px;
    margin-left: 80px;
    font-weight: bolder;
  }

  #h4 {
    height: 20px;
    width: 94%;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 50px;

    color: black;
    background-color: rgb(231, 147, 12);
  }

  #navbar {
    background-color: rgb(231, 147, 12);
  }